#root {
  all: none;
  width: 1440px;
}

.navbar {
  padding: 0;
  height: 100px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  list-style: none;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 2fr 2fr 1fr;
  justify-content: space-evenly;
  align-content: center;
}
.navItem {
  display: grid;
  justify-content: center;
  align-items: center;
}

.navLink{
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  font-family: 'karla', sans-serif;
}

.hero {
  height: 330px;
  width: 1440px;
  background-color: #495E57;
}

.heroMain{
  height: 330px;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}

.bookTableH1 {
  font-family: 'Makazi', serif;
  font-size: 54px;
  color: #f4ce14;
  margin: 20px 0 0 0;
}
.bookTableH2 {
  font-family: 'Makazi', serif;
  font-size: 32px;
  color: white;
  margin: 0;
}

.bookTableP {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  color: white;
  margin: 15px 0 0 0;
}

.btn-primary {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  padding: 8px 20px 8px 20px;
  background-color: #f4ce14;
  color: black;
  border-radius: 15px;
  border: 0px;
}

.heroPicContainer {
    display: grid;
  justify-content: right;
}

.heroPic {
  margin-top: 30px;
  width: 375px;
  height: 375px;
  border-radius: 30px;
}

.highlights {
  width: 960px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.highlightsTop {
  margin: 0 0 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}

.shoutOutH2 {
  font-family: 'Makazi', serif;
  font-weight: bolder;
  font-size: 54px;
}

.highlightsButton {
  display: grid;
  justify-content: right;
  align-content: center;

}

.btn-secondary {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 25px 15px 25px;
  background-color: #f4ce14;
  color: black;
  border-radius: 15px;
  border: 0px;
  max-height: 60px;
}