#root {
  all: none;
  width: 1440px;
}

.navbar {
  padding: 0;
  height: 100px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  list-style: none;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 2fr 2fr 1fr;
  justify-content: space-evenly;
  align-content: center;
}

.navLink{
  font-size: 30px;
  text-decoration: none;
  font-family: 'karla', sans-serif;
}
